.wf-mediabox-frame {
    padding: 10px;
}
.wf-mediabox-container {
    background-color: #ffffff;
    border-radius: 5px;
    padding: 10px;
}
.wf-mediabox-loader {
    background: url(../img/loader-circle.gif) no-repeat center center;
}
.wf-mediabox-info-bottom {
    padding: 10px 0 0;
    border-radius: 0 0 10px 10px;
}
.wf-mediabox-nav {
    background-color: #ffffff;
    padding: 10px;
}
.wf-mediabox-close,
.wf-mediabox-prev,
.wf-mediabox-next {
    background-color: #444;
    border-radius: 100%;
    display: block;
    height: 20px;
    left: auto;
    position: absolute;
    width: 20px;
    z-index: 1;
    font-size: 0;
}
.wf-mediabox-close:after, .wf-mediabox-prev:after, .wf-mediabox-next:after {
    color: #fff;
    display: block;
    font-family: Arial;
    font-size: 20px;
    font-weight: bold;
    line-height: 20px;
    margin-left: 1.6px;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
}
.wf-mediabox-close:after {
    content:"\00d7";
}
.wf-mediabox-prev:after {
    content: "◀︎";
    font-size: 12px;
    margin: 1px 0 0 -2px;
}
.wf-mediabox-next:after {
    content:"▶︎";
    font-size: 12px;
    margin: 1px 0 0 3px;
}

.wf-mediabox-close {
    top: 10px;
    right: 0;
}

.wf-mediabox-close:visited,
.wf-mediabox-prev:visited,
.wf-mediabox-next:visited {
    color: #fff;
}
.wf-mediabox-close:active,
.wf-icon-prev:active,
.wf-mediabox-next:active,
.wf-mediabox-close:focus,
.wf-mediabox-prev:focus,
.wf-mediabox-next:focus,
.wf-mediabox-close:hover,
.wf-mediabox-prev:hover,
.wf-mediabox-next:hover {
    background-color: #888;
    color: #fff;
    text-decoration: none;
    outline: none;
}

.wf-mediabox-prev {
    left: 0;
    top: 10px;
}
.wf-mediabox-next {
    right: 0;
    top: 10px;
    left: auto;
}
.wf-mediabox-numbers {
    text-align: center;
    display: block;
    line-height: 28px;
}
.wf-mediabox-numbers a {
    border: none;
    display: inline-block;
    margin: 0px 1px;
    width: 20px;
}
.wf-mediabox-numbers a:hover {
    font-size: 1.2em;
}
.wf-mediabox-numbers a.active {
    cursor: default;
    font-size: 1.2em;
}
.wf-mediabox-numbers a:link,
.wf-mediabox-numbers a:hover {
    font-weight: bold;
    text-decoration: none;
    color: #000000;
    background-color: transparent;
}
.wf-mediabox-caption {
    padding: 0 0 10px;
    background-color: #ffffff;
}
.wf-mediabox-caption:empty {display: none;}

.wf-mediabox-caption h4 a:active,
.wf-mediabox-caption p a:active,
.wf-mediabox-caption h4 a:hover,
.wf-mediabox-caption p a:hover,
.wf-mediabox-caption h4 a:visited,
.wf-mediabox-caption p a:visited,
.wf-mediabox-caption h4 a,
.wf-mediabox-caption p a {
    color: #000000;
    font-weight: bold;
    text-decoration: none;
}
.wf-mediabox.ie6 .wf-mediabox-nav {
    height: 10px;
}
.wf-mediabox.ie6 .wf-mediabox-caption {
    margin-top: -1px;
}
.wf-mediabox.ios .wf-mediabox-closelink {
    top: 10px;
}
.wf-mediabox.ios .wf-mediabox-caption {
    margin: -1px 0;
}
.wf-mediabox.ios .wf-mediabox-nav {
    margin-bottom: -1px;
}
.wf-mediabox.ios span.wf-mediabox-numbers {
    margin-top: 5px;
}
.wf-mediabox.ios .wf-mediabox-prev,
.wf-mediabox.ios .wf-mediabox-next {
    margin: 0;
}

.wf-mediabox-numbers > ul li {
    display: inline-block;
}

.wf-mediabox-broken-image img {display: none;}

.wf-mediabox-broken-image .wf-mediabox-content-image:before {
  position: absolute;
  font-size: 100px;
  height: auto;
  width: 100%;
  text-align: center;
  left: 0;
  top: 50%;
  margin-top: -50px;
  opacity: 0.5;
}

/*.wf-mediabox-broken-image .wf-mediabox-content-image:after {
    content: "∅";
    font-size: 60px;
    font-weight: bold;
    color: #ddd;
    vertical-align: middle;
    position: absolute;
    margin: -60px auto;
    left: 0;
    width: 100%;
    top: 50%;
  }*/
