@font-face {
  font-family: 'mediabox';
  src:
    url('../fonts/mediabox.woff?swjl0l') format('woff'),
    url('../fonts/mediabox.svg?swjl0l#mediabox') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="wf-icon-"], [class*=" wf-icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'mediabox' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.wf-icon-zoom-image:before,
.wf-icon-search:before {
  content: "\f002";
}
.wf-icon-next-squeeze:after {
  content: "\f01d";
  font-size: 1.5em;
}
.wf-icon-prev-squeeze:after {
  content: "\f01e";
  font-size: 1.5em;
}
.wf-icon-close-squeeze:after {
  content: "\f05c";
  font-size: 1.5em;
}
.wf-icon-prev-shadow:before {
  content: "\f04a";
}
.wf-icon-next-shadow:before {
  content: "\f04e";
}
.wf-icon-close-standard:before {
  content: "\f057";
  font-size: 1.5em;
}
.wf-icon-zoom-link:before,
.wf-icon-link:before {
  content: "\f08e";
}
.wf-icon-prev-standard:before {
  content: "\f0a8";
  font-size: 1.5em;
}
.wf-icon-next-standard:before {
  content: "\f0a9";
  font-size: 1.5em;
}
.wf-icon-404:before {
  content: "\f119";
  font-size: 6em;
  width: 100%;
  vertical-align: middle;
  line-height: 1.5em;
}